* {
  font-family: sans-serif;
  margin: 0px auto;
}
.container {
  max-width: 1500px;
}
/* Style for Navbar */
nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
}
.navbarKanan {
  margin-left: 85px;
}
.navbarLogoGambar {
  width: 40px;
  margin: 10px;
  float: left;
}
.navbarLogoTulisan {
  font-size: 19px;
  font-weight: bold;
  margin: 19px 0px;
  float: left;
  color: #0088b9;
}
/* End Style Navbar */
/* #jumbotron {
  background-repeat: no-repeat;
  background-image: url("../image/backgroundJumbotron.png");
  background-size: 100%;
  height: 600px;
} */

.jumbotronUtama {
  padding-top: 135px;
  padding-left: 40px;
  color: #0088b9;
}
.jumbotronTulisan {
  padding-left: 60px;
  font-family:'comic';
}
.jumbotronTulisan img {
  float: left;
  width: 33 0px; 
  height: 330px;
  padding-right: 20px;
  border-radius: 30px 40px 50px;
}
.jumbotronTulisan h1 {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  margin-top: 60px;
  font-size: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}
.jumbotronTulisan p {
  font-family: 'Handlee', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  padding-bottom: 15px;
}
.Jawaban {
  padding-top: 100px;
  margin-left: 400px;
}
.Jawaban h1 {
  font-family: 'Handlee', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}
#Jawab {
  margin-top: 150px;
  background-color:#0088b9 ;
  height: 2900px;
  margin-bottom: 50px;
}
.BarisJawab {
  padding-left: 170px;
}
.BarisJawab h1 {
  font-family: 'Handlee', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  padding: 20px;
  color: #0088b9;
}
.BarisJawab p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.BarisJawab .jawab1{
  border-radius: 25px;
  background-color: #fff;
  height: 300px ;
  display: inline-block;
  width: 500px;
  margin: 40px;
}

.BarisJawab .jawab2 {
  background-color: #fff;
  display: inline-block;
  height:300px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.BarisJawab .jawab3 {
  background-color: #fff;
  display: inline-block;
  height: 300px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.BarisJawab .jawab4 {
  background-color: #fff;
  height: 740px ;
  display: inline-block;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}

.BarisJawab .jawab5 {
  background-color: #fff;
  display: inline-block;
  height: 320px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}

.BarisJawab .jawab6 {
  background-color: #fff;
  display: inline-block;
  height: 320px;
  margin: 40px;
  width: 500px;
  border-radius: 25px;
}
.BarisJawab .jawab6 {
  font-size: 19px;
}
.BarisJawab .jawab7 {
  background-color: #fff;
  height: 370px ;
  display: inline-block;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.BarisJawab .jawab7 {
  font-size: 15px;
}
.BarisJawab .jawab8 {
  background-color: #fff;
  display: inline-block;
  height: 370px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.BarisJawab .jawab8 {
  font-size: 16px;
}
.BarisJawab .jawab9 {
  background-color: #fff;
  display: inline-block;
  height: 400px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.BarisJawab .jawab9 {
  font-size: 18px;
}
.BarisJawab .jawab10 {
  background-color: #fff;
  display: inline-block;
  height: 400px;
  width: 500px;
  margin: 40px;
  border-radius: 25px;
}
.ButtonSoal button {
  background-color: #fff;
  color: #0779E4;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  margin-top: 50px;
  padding: 10px 20px;
  margin-left: 710px;
  cursor: pointer;
  transition: all 0.5s;
}
.Buttonsoal button:hover {
    background-color: #0779E4;
    color: #fff;
}

@media only screen and (max-width: 600px) {
  .jumbotronUtama {
    padding-top: 135px;
    padding-left: 40px;
    color: #0088b9;
  }
  .jumbotronTulisan {
    padding-left: 70px;
    font-family:'comic';
  }
  .jumbotronTulisan img {
    float: left;
    width: 430px; 
    height: 330px;
    padding-right: 20px;
    border-radius: 30px 40px 50px;
  }
  .jumbotronTulisan h1 {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    margin-top: 5px;
    font-size: 30px;
    padding-right: 500px;
  }
  .jumbotronTulisan p {
    font-family: 'Handlee', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-bottom: 15px;
    margin-right: -1000px;
  }
  #Jawab {
    margin-top: 150px;
    background-color:#0088b9 ;
    height: 2900px;
    margin-bottom: 50px;
    margin-right: -1000px;
  }
}